.container {
    background-color: var(--primary-color-2);
    border-radius: 10px;
    box-sizing: border-box;
    display: flex;
    font-family: Glory, sans-serif;
    font-size: 17px;
    margin: 15px;
    transition: all .5s ease;
}
.left{
    align-items: center;
    background-color: var(--product-arrow-bg);
    border: 5px solid transparent;
    border: 10px solid var(--primary-color-2);
    border-right: none;
    box-sizing: border-box;
    -webkit-clip-path: polygon(0 0, 75% 0, 100% 50%, 75% 100%, 0 100%);
    clip-path: polygon(0 0, 75% 0, 100% 50%, 75% 100%, 0 100%);
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    padding: 5% 5% 5% 0;
    transition: all .5s ease;
    flex: 2 1;
}
.right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Glory", sans-serif;
    font-size: 17px;
    flex: 1 1;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px 50px;
    position: relative;
}
.priceContainer{
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 25px;
    justify-content: flex-start;
}
.text{
    margin: 10px 0;
    -webkit-user-select: none;
    user-select: none;
}

.sizeGuide{
    cursor: pointer;
    font-weight: 600;
    gap: 5px;
    justify-content: space-between;
    padding: 5px 0;
    display: flex;
    align-items: center;
}
.sizeContainer{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 20px;
}
.size{
    align-items: center;
    border: 1px solid var(--dark-transparent-3);
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 10px;
    padding: 5px 12px;
    text-align: center;
    background-color: var(--primary-color-2);
    border-radius: 3px;
    padding: 10px 15px;
}

.sizeSelected{
    align-items: center;
    border: 1px solid black;
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-right: 10px;
    padding: 5px 12px;
    text-align: center;
    background-color: var(--primary-color-2);
    border-radius: 3px;
    padding: 10px 15px;
}

.amountFavorites{
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.amount{
    align-items: center;
    background-color: var(--primary-color-2);
    border: 1px solid var(--dark-transparent-3);
    border-radius: 5px;
    display: flex;
    height: 40px;
    justify-content: space-evenly;
    width: 90px;
}

.amountFavorites span {
    cursor: auto;
    font-size: 14px;
}

.favorite{
    align-items: center;
    background-color: var(--primary-color-2);
    border: 1px solid var(--dark-transparent-3);
    border-radius: 5px;
    display: flex;
    gap: 5px;
    height: 40px;
    margin-left: 15px;
}

.favorite span{
    display: flex;
    gap: 5px;
}

.addCartContainer{
    display: flex;
    justify-content: space-between;
    margin: 40px 0 35px;
}

.addCart{
    align-items: center;
    background-color: var(--logo-purple);
    border: none;
    border-radius: 5px;
    color: var(--white);
    display: flex;
    font-size: 16px;
    gap: 10px;
    height: 50px !important;
    justify-content: center;
    padding: 0 10px;

}


.addCart:hover{
    cursor:pointer;
    opacity: 0.9;

}

.addCartDisabled{
    background-color: var(--logo-purple-disabled);
}