.page {
    font-family: Glory, sans-serif;
}
.title {
    padding: 25px;
    font-size: 2rem;
    font-weight: 500;
    border-bottom: 2px solid var(--border-bottom);
    width: 75%;
    margin: 0 auto;
    text-align: center;
}
.nav {
    margin: 50px 0 0 12%;
    float: left;
}
.listTitle {
    font-weight: 600;
    letter-spacing: 1px;
}
.list {
    margin: 25px 0 50px -40px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.1rem;
    letter-spacing: 1px;
}
.link {
    text-decoration: none;
    color: black;
}
@media (max-width: 768px) {
    .nav {
        float: none;
    }
}
