.root{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    padding: 45px 70px;
    box-shadow: 0px 7px 20px rgba(0, 0, 0, 0.25);
    border-radius: 0 15px;
    background-color: #fff;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}
.img {
    width: 100%;
}

.circle{
    align-items: center;
    background-color: var(--auth-sendcode-circle);
    border-radius: 40px;
    display: flex;
    height: 80px;
    justify-content: center;
    width: 80px;
    margin: 0 auto;
}

.message{
    color: var(--auth-sendcode-text);
    font-size: 14px;
    margin-block-start: 1em;
    margin-block-end: 1em;
    text-align: center;
}
.title{
    color: var(--auth-sendcode-text);
    font-size: 1.5rem;
    font-weight: 600;
    margin-block-start: 1em;
    margin-block-end: 1em;
    text-align: center;
}

.numInputContainer{
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.numInput{
    padding: 3px;
    background-color: var(--auth-input);
    border: 1px solid;
    border-radius: 5px;
    color: var(--light-blue);
    margin: 5px;
    text-align: center;
    width: 35px;
    box-sizing: content-box;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
}

.numInput:focus{
    outline: none;
}

.btn{
    padding: 7px 20px;
    margin: 5px -10px;
    width: calc(100% + 20px);
    background-color: var(--light-blue);
    color: var(--auth-submit-btn-color);
    border: none;
    border-radius: 5px;
}
.btn:disabled{
    opacity: 0.5;
}
.btn:hover{
    opacity: 0.5;
    transform: scale(1.01);
}
.links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.link {
    text-decoration: none;
}
.backArrow{
    align-items: center;
    color:  var(--light-blue);
    border: none;
    background-color: initial;
    height: 50px;
    width: 50px;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    margin-left: -40px;
    margin-top: -10px;
}
.backArrow:hover{
    transform: scale(1.05);
}

.errorInput {
    border-color: var(--auth-error-primary);
    background-color: var(--auth-error-bg);
    color: var(--auth-error-primary);
}

.errorInput:focus {
    border-color: var(--auth-error-primary);
    background-color: var(--auth-error-bg);
    color: var(--auth-error-primary);
}

.errorText {
    color: var(--auth-error-primary);
    font-size: 0.6rem;
    margin: 0px;
    margin-left: -9px;
}