.container {
    align-items: flex-end;
    background-color: var(--primary-color-2);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin: -50px 15px 0;
}

.header {
    align-items: center;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    margin-right: 20px;
    margin-top: 25px;
    width: 420px;
}

.reviews {
    margin-right: 20px;
    margin-top: 15px;
    width: 420px;
    margin-bottom: 20px;
}

.rateContent {
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.title {
    margin: 10px 0;
    -webkit-user-select: none;
    user-select: none;
}

.reviewInput{
    height: 100px;
    padding: 5px;
    resize: none;
    width: 100%;
}

.reviewButton{
    background-color: var(--logo-purple);
    border: none;
    border-radius: 5px;
    color: #fff;
    margin-top: 10px;
    padding: 7px 15px;
}

.date{
    color: var(--rating-date-text);
    font-size: 10px;
    margin-left: 10px;
}

