.content {
    width: calc(95% - 180px);
    margin-top: 30px;
}
.input {
    padding: 7px 10px;
    margin: 5px -10px;
    border: 1px solid var(--auth-input-border);
    color: var(--light-blue);
    width: 100%;
    border-radius: 5px;
    outline: none;
}
.validInput:focus {
    background-color: var(--auth-input-focus);
}
.invalidInput {
    color: var(--red);
    background-color: rgba(255, 0, 0, 0.2);
    border-color: var(--red);
}
.icon {
    position: absolute;
    right: 0px;
    bottom: 13px;
    height: 15px;
    width: 15px;
    cursor: pointer;
}
.errorMessage {
    color: var(--red);
    margin: 0;
    margin: 0 0 10px -10px;
    font-size: 0.8rem;
}
.buttonWrapper {
    display: flex;
    justify-content: flex-end;
    margin: 30px -10px 0 0;
}
.button {
    border: none;
    color: white;
    padding: 12px 20px;
    border-radius: 10px;
    font-family: Glory, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}
.validButton {
    background-color: var(--logo-purple);
    cursor: pointer;
}
.invalidButton {
    background-color: var(--logo-purple-disabled);
    cursor: default;
}
.validButton:hover {
    opacity: 0.9;
}

@media (max-width: 768px) {
    .content {
        width: 100%;
        margin-top: 30px;
    }
}