.card {
    box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.25);
    cursor: pointer;
}
.card:hover {
    scale: 1.02;
    transition: 0.3s ease-in-out;
}
.cardImage {
    width: 250px;
    height: 275px;
}
.cardText {
    color: var(--logo-purple);
    font-weight: 500;
    font-family: "Glory", sans-serif;
}
.cardStars {
    text-align: center;
    margin-top: 10px;
    font-size: 1.35rem;
    color: rgb(241, 208, 69);
}
.cardButton {
    width: 100%;
    background-color: var(--logo-purple);
    color: white;
    border: none;
    padding: 7px;
    font-weight: 500;
    font-size: 1.01rem;
    cursor: pointer;
    font-family: "Glory", sans-serif;
}
