.card {
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    width: 250px;
}
.card:hover {
    scale: 1.02;
    transition: 0.3s ease-in-out;
}
.cardContent {
    padding: 7px 7px 3px 7px;
}
.cardImageWrapper {
    width: 250px;
    height: 300px;
}
.cardImage {
    width: 100%;
    height: 100%;
}
.cardText {
    font-size: 1.42rem;
    color: var(--logo-purple);
    font-weight: 550;
    font-family: "Glory", sans-serif;
}
.cardStars {
    text-align: center;
    margin-top: 15px;
    font-size: 1.35rem;
    color: #ccc;
}
.activeStar {
    color: #f1d045;
}
.cardButton {
    width: 100%;
    background-color: var(--logo-purple);
    color: white;
    border: none;
    padding: 7px;
    font-weight: 500;
    font-size: 1.01rem;
    cursor: pointer;
    font-family: "Glory", sans-serif;
}
