.sizeGuideModal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 700px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    z-index: 100;
  }
  
  .sizeGuideContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 70vh;
    overflow-y: auto;
  }
  
  .sizeGuideTable {
    width: 100%;
  }
  
  .sizeGuideTable table {
    width: 100%;
    border-collapse: collapse;
    background-color: initial;
    border-spacing: 0;
  }
  
  .sizeGuideTable th,
  .sizeGuideTable td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  
  .sizeGuideTable th {
    background-color: #cdcaff;
  }
  
  .sizeGuideOverlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    z-index: 100;
  }
  
  .openButton {
    font-weight: 600;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: 'Glory', sans-serif;
  }
  .closeButton {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }

  .icon{
    font-size: 1.2rem;
  }
  
  .sizeGuideContent {
    text-align: center;
  }
  
  .sizeGuideContent h2 {
    text-align: left;
    font-size: 1.2rem;
  }
  
  .sizeGuideContainer img {
    height: 400px;
    margin-bottom: 20px;
  }
  
  @media (max-width: 768px) {
    .sizeGuideContainer {
      flex-direction: column;
      justify-content: start;
    }
  
    .sizeGuideTable {
      order: 1;
    }
  
    .sizeGuideContainer img {
      margin-right: 20px;
      order: 2;
    }
  }
  