.input {
  padding: 7px 10px;
  margin: 5px -10px;
  border: 1px solid var(--auth-input-border);
  color: var(--light-blue);
  width: 100%;
  border-radius: 5px;
  outline: none;
}
.validInput:focus {
  background-color: var(--auth-input-focus);
}
.invalidInput {
  color: var(--red);
  background-color: rgba(255, 0, 0, 0.2);
  border-color: var(--red);
}

.icon {
  position: absolute;
  right: 0px;
  bottom: 13px;
  height: 15px;
  width: 15px;
  cursor: pointer;
}

.errorMessage {
  color: var(--red);
  margin: 0;
  margin: -4px 0 5px -10px;
  font-size: 0.7rem;
}